<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  {{!-- partial in handlerbar are the same as php --}}
  {{!-- synta is a bit differet is all --}}

    {{> header}}


    {{{body}}}  <!--index.hbs-->


    {{> footer}}

  </body>
</html>
