<header>
       <h2>This content could be your nav</h2>
       <ul class="filterNav">
       <li><a href="">Action</a></li>
            <li><a href="">Comedy</a></li>
            <li><a href="">Family</a></li>
            <li><a href="">Romance</a></li>
            <li><a href="">War</a></li>
            <li><a href="">All</a></li>
       </ul>
</header>